@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<MVCAppCRUDRazorCodeFirst.Models.Atletlas>

@{
    ViewData["Title"] = "Obtener Atletas";
}

<div class="row">
    <div class="col-sm-8 offset-sm-2">
        <h2> Lista de Atletlas</h2>
        <a asp-controller="Atletla" asp-action="nuevoAtletla" class="btn btn-success mb-3">Nuevo</a>
        <table class="table table-bordered">
            <thead>

                <th>IdAtletla </th>
                <th>Name </th>
                <th>Type</th>
                <th>FechaContrato</th>
                <th>Activo</th>

            </thead>
            <tbody>

                @foreach(var item in Model)
                {
                        <tr>

                            <td>@item.IdAtleta</td>
                            <td>@item.AtletaName</td>
                            <td>@item.AtletaType</td>
                            <td>@item.FechaContrato.ToShortDateString()</td>
                            <td>@(item.Activo ? "SI": "NO")</td>

                            <td>
                            <a asp-controller="Atletla"
                               asp-action="editarAtletla"
                               asp-route-id="@item.IdAtleta"
                               class="btn btn-primary mb-3">
                                Editar
                            </a>
                            </td>

                            <td>
                                <a asp-controller="Atletla"
                                   asp-action="eliminarAtletlaQuick"
                                   asp-route-id="@item.IdAtleta"
                                   onclick="return confirmar()"
                                   class="btn btn-danger mb-3">
                                    Eliminar
                                </a>
                            </td>



                        </tr>           

                 }

            </tbody>
        </table>

    </div>

</div>

@section Scripts {
    <script>
        function confirmar()
        {
            return confirm("Esta seguro de eliminar el atletla?")
        }
    </script>
}